### Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mplt
import seaborn as sns
import tqdm 
import os
import gc #garbage collection

### Import Data

###### Next Gen Stats data sets

In [22]:
#View sample data to see what variables exist 
df_ngs_test = pd.read_csv('NGS-2016-post.csv',nrows=5)
df_ngs_test.head()

,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event
0,2016,332,2983,31357,2017-02-06 02:16:46.500,62.500000,44.040001,0.01,172.750000,254.820007,NaN
1,2016,332,2983,29252,2017-02-06 02:16:46.700,62.340000,24.610001,0.02,183.720001,86.209999,NaN
2,2016,332,2983,31570,2017-02-06 02:16:46.700,62.340000,7.340000,0.01,164.559998,199.660004,NaN
3,2016,332,2983,31357,2017-02-06 02:16:46.700,62.480000,44.070000,0.02,160.509995,250.039993,NaN
4,2016,332,2983,27980,2017-02-06 02:16:46.700,62.650002,22.129999,0.04,185.669998,266.500000,NaN

In [6]:
#View data types
df_ngs_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
Season_Year    5 non-null int64
GameKey        5 non-null int64
PlayID         5 non-null int64
GSISID         5 non-null int64
Time           5 non-null object
x              5 non-null float64
y              5 non-null float64
dis            5 non-null float64
o              5 non-null float64
dir            5 non-null float64
Event          0 non-null float64
dtypes: float64(6), int64(4), object(1)
memory usage: 520.0+ bytes

In [3]:
#re-define data types and turn into list 
dtypes={'Season_Year': 'int16',
         'GameKey': 'int16',
         'PlayID': 'int16',
         'GSISID': 'float32',
         'Time': 'str',
         'x': 'float32',
         'y': 'float32',
         'dis': 'float32',
         'o': 'float32',
         'dir': 'float32',
         'Event': 'str'}

col_names = list(dtypes.keys())

In [4]:
#List all files
ngs_files = ['NGS-2016-pre.csv',
             'NGS-2016-reg-wk1-6.csv',
             'NGS-2016-reg-wk7-12.csv',
             'NGS-2016-reg-wk13-17.csv',
             'NGS-2016-post.csv',
             'NGS-2017-pre.csv',
             'NGS-2017-reg-wk1-6.csv',
             'NGS-2017-reg-wk7-12.csv',
             'NGS-2017-reg-wk13-17.csv',
             'NGS-2017-post.csv']

In [5]:
path = 'data/'

In [6]:
#Check to ensure the directory path is correct
print(os.listdir("data/"))

['NGS-2016-pre.csv', 'NGS-2016-reg-wk7-12.csv', 'video_footage-control.csv', 'video_footage-injury.csv', 'NGS-2017-reg-wk7-12.csv', 'NGS-2017-pre.csv', 'NGS-2016-reg-wk1-6.csv', 'play_information.csv', 'NGS-2016-post.csv', 'NGS-2017-post.csv', 'play_player_role_data.csv', 'game_data.csv', 'First and Future Data Manual 12062018.docx', 'NGS-2016-reg-wk13-17.csv', 'player_punt_data.csv', 'video_review.csv', 'NGS-2017-reg-wk1-6.csv', 'NGS-2017-reg-wk13-17.csv']

In [8]:
# Load each ngs file and append it to a list. 
# We will turn this into a DataFrame in the next step

df_list = []

for i in tqdm.tqdm(ngs_files):
    df = pd.read_csv(f'{path}'+i, usecols=col_names,dtype=dtypes)
    
    df_list.append(df)

100%|██████████| 10/10 [01:40<00:00,  8.65s/it]

In [10]:
#Create dataframe of all NGS tables
df_ngs_all = pd.concat(df_list)

In [11]:
#Delete previous table 
del df_list
#gc.collect() #cannot find package

In [16]:
#Check data type of Object 
df_ngs_all.Event.dtype

dtype('O')

In [19]:
#Are there any null values ?
df_ngs_all.isnull().values.any()

#Which columns have null values?
df_ngs_all.isnull().sum()

Season_Year           0
GameKey               0
PlayID                0
GSISID             2536
Time                  0
x                     0
y                     0
dis                   0
o                     0
dir                   0
Event          65279204
dtype: int64

In [12]:
#Convert 'Time' from string to date time format
df_ngs_all['Time'] = pd.to_datetime(df_ngs_all['Time'], format='%Y-%m-%d %H:%M:%S')

#Turn Season_Year into category variable

In [13]:
#Ensure all variables have been changed 
df_ngs_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66492490 entries, 0 to 1037157
Data columns (total 11 columns):
Season_Year    int16
GameKey        int16
PlayID         int16
GSISID         float32
Time           datetime64[ns]
x              float32
y              float32
dis            float32
o              float32
dir            float32
Event          object
dtypes: datetime64[ns](1), float32(6), int16(3), object(1)
memory usage: 3.3+ GB

In [27]:
df_ngs_all.head()

,Season_Year,GameKey,PlayID,GSISID,Time,x,y,dis,o,dir,Event
0,2016,3,3949,33078.0,2016-08-12 02:27:11.100,58.320000,12.90,0.00,347.989990,64.320000,NaN
1,2016,3,3949,24417.0,2016-08-12 02:27:11.100,56.740002,13.85,0.02,18.180000,359.750000,NaN
2,2016,3,3949,32570.0,2016-08-12 02:27:11.100,50.779999,0.34,0.09,286.130005,185.149994,NaN
3,2016,3,3949,27831.0,2016-08-12 02:27:11.200,59.340000,12.33,0.05,325.130005,294.489990,NaN
4,2016,3,3949,32575.0,2016-08-12 02:27:11.200,52.950001,-0.37,0.03,322.970001,145.889999,NaN

###### Video data sets

In [24]:
df_video_control = pd.read_csv('data/video_footage-control.csv')

df_video_injury = pd.read_csv('data/video_footage-injury.csv')

df_video_review = pd.read_csv('data/video_review.csv')

In [31]:
df_video_injury.head()

,season,Type,Week,Home_team,Visit_Team,Qtr,PlayDescription,gamekey,playid,PREVIEW LINK (5000K)
0,2016,Pre,2,Chicago Bears,Denver Broncos,3,(3:44) (Punt formation) P.O'Donnell punts 58 y...,5,3129,http://a.video.nfl.com//films/vodzilla/153233/...
1,2016,Pre,3,Tennessee Titans,Carolina Panthers,3,(5:52) (Punt formation) K.Redfern punts 36 yar...,21,2587,http://a.video.nfl.com//films/vodzilla/153234/...
2,2016,Pre,3,Washington Redskins,New York Jets,1,"(4:46) L.Edwards punts 51 yards to WAS 27, Cen...",29,538,http://a.video.nfl.com//films/vodzilla/153235/...
3,2016,Pre,4,New York Jets,New York Giants,2,"(8:29) B.Wing punts 44 yards to NYJ 10, Center...",45,1212,http://a.video.nfl.com//films/vodzilla/153236/...
4,2016,Pre,5,Detroit Lions,Buffalo Bills,1,"(:38) C.Schmidt punts 46 yards to DET 8, Cente...",60,905,http://a.video.nfl.com//films/vodzilla/153237/...

###### Play Information data set

In [28]:
df_play_info = pd.read_csv('data/play_information.csv')

In [29]:
df_play_info.head()

,Season_Year,Season_Type,GameKey,Game_Date,Week,PlayID,Game_Clock,YardLine,Quarter,Play_Type,Poss_Team,Home_Team_Visit_Team,Score_Home_Visiting,PlayDescription
0,2016,Pre,2,08/13/2016,2,191,12:30,LA 47,1,Punt,LA,LA-DAL,0 - 7,"(12:30) J.Hekker punts 52 yards to DAL 1, Cent..."
1,2016,Pre,2,08/13/2016,2,1132,12:08,LA 29,2,Punt,LA,LA-DAL,7 - 21,"(12:08) J.Hekker punts 51 yards to DAL 20, Cen..."
2,2016,Pre,2,08/13/2016,2,1227,10:01,DAL 18,2,Punt,DAL,LA-DAL,7 - 21,"(10:01) C.Jones punts 40 yards to LA 42, Cente..."
3,2016,Pre,2,08/13/2016,2,1864,00:21,DAL 46,2,Punt,LA,LA-DAL,7 - 24,"(:21) J.Hekker punts 31 yards to DAL 15, Cente..."
4,2016,Pre,2,08/13/2016,2,2247,10:26,DAL 15,3,Punt,DAL,LA-DAL,14 - 24,"(10:26) M.Wile punts 40 yards to LA 45, Center..."

###### Player Role data set

In [29]:
df_player_role = pd.read_csv('data/play_player_role_data.csv')

###### Player Punt data set

In [30]:
df_player_punt = pd.read_csv('data/player_punt_data.csv')

###### Game data set

In [31]:
df_game = pd.read_csv('data/game_data.csv')

Full Join on all datasets

In [ ]:
()

In [38]:
df_player_role.isnull().sum()

Season_Year    0
GameKey        0
PlayID         0
GSISID         0
Role           0
dtype: int64